body {
    margin: 0;
}
.header {
    background-color: #1f2937;
    display: flex;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}