body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.main {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 50px;
    height: 400px;
}

.main-text {
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.main-p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    padding: 8px 16px;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

.main-img {
    background: rgb(147, 150, 163);
    height: 225px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.second-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.child {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    box-sizing: border-box;
    border: 3px blue solid;
    border-radius: 16px;
    height: 170px;
    width: 170px;
    
}

.child p {
    margin: 8px 0px;
    font-size: 18px;
    text-align: center;
}